@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


.signupstyle{
	font-family: Arial;
	font-size: 12px;
	background: #fff;
	color: #fff;
}


.grad{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, top left, right bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */
	z-index: 0;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50%);
	left: calc(50% - 195px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px ;
	width: 350px ;
	padding: 10px;
	z-index: 2;
}

.signup {
	position: absolute;
	top: calc(50% - 150px) !important;
	left: calc(50% - 50px);
	height: 150px ;
	width: 350px ;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 0px 4px;
	line-height: 40px;
	margin-top: 10px;
}

.login input[type=password]{
	width: 250px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 0px 4px;
	margin-top: 10px;
	line-height: 40px;
}

.login input[type=email]{
	width: 250px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 0px 4px;
	margin-top: 10px;
	line-height: 40px;
}


.login .loginbutton {
	width: 250px;
	height: 35px !important;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-top: 10px;
	text-align: center;
}

.login .signupbutton {
	width: 250px;
	height: 35px !important;
	background: #529ECC;
	border: 1px solid #529ECC;
	cursor: pointer;
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-top: 10px;
	text-align: center;

}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=email]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}


::-webkit-input-placeholder{
	color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
	color: rgba(255,255,255,0.6);
}




html,body
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	background-image: url(http://49.media.tumblr.com/1073bc050e37a22119d4d878c7e00f83/tumblr_o35cp4TzqU1tizru1o1_500.gif);
}


.body{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background-image: url(http://49.media.tumblr.com/1073bc050e37a22119d4d878c7e00f83/tumblr_o35cp4TzqU1tizru1o1_500.gif);
	background-size: cover;
	z-index: 1;
}


